@import "./colors.scss";
@import "./margins.scss";
@import "./paddings.scss";
@import "./flex.scss";

.container {
  max-width: 1200px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

// Background
.bg-light {
  background-color: $light;
}

.bg-white {
  background-color: white;
}
// END Background

// Border
.border-gray {
  border: 1px solid $gray;
}

.border-radius {
  border-radius: 10px;
}
// END Border
