@import "./styles/styles.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $light;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
